body {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
  Colors
  Red: C54756
  dark red: 7E3F48
  Black: 1E1B1E
  light: E39DAA
  lightest: E7C9CB
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: #C54756;
  margin: auto;
}

.headerTitle{
  display: flex;
  justify-content: center;
}
.headerTitle h1{
  padding-top: 64px;
  padding-bottom: 64px;
  font-size: 128px;
  font-weight: bold;
  background-color: #C54756;
  color: #E7C9CB;
  -webkit-text-fill-color: rgba(255, 255, 255, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;

}
/* Add a black background color to the top navigation */
.headerNav {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.headerBtn {
    border: none;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headerBtn:hover {
  background-color: #C54756;
  color: white;
}

.slider{
  display: flex;
  justify-content: center;
  align-items: center;
}

#Arrow{
  z-index: 2;
  cursor: pointer;
  user-select: none;
  font-size: 10rem;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

#Arrow:hover{
  transform: scale(1.2);
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}
.slide{
  display: flex;
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  transform: scale(1);
}

.slideActive{
  display: flex;
  opacity: 1;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transform: scale(1.1);
}

.video{
  padding: 20px;
}

.vidGallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.vidGallery:nth-child(even){
  background-color: #C54756;
  color: #ffffff;
}

.thumbnails{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.thumbActive{
  transition-duration: 1s;
  opacity: 1.0;
  transform: scale(1.1);

}

.thumb{
  opacity: 0.5;
  transition-duration: 0.5s;
  transition-timing-function: ease-out
}

.thumb:hover{
  cursor: pointer;
  user-select: none;
  opacity: 0.75;
  transition-duration: 0.5s;
  transition-timing-function: ease-in
}

.videoImg img{
  border-radius: 10px;
  width: 150px;
}

.videoImg{
  margin: 10px;
}

.overlay {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  cursor: pointer;
}

.modalContent {
  z-index: 4;
  position: fixed;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 50vw;
  max-height: 50vh;
  transform: scale(1);
  transition: 1s;
  transition-timing-function: ease-out;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 30px;
  padding: 20px
}

.modalContent:hover{
  transition: 1s;
  transition-timing-function: ease;
  transform: scale(1.025);
}

.closeModal{
  float: right;
  border: none;
  font-size: 16px;

}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modalContent a{
  text-decoration-line: none;
  font-size: 14px;
  color: #C54756;
}

.modalContent h1{
  font-size: 24px;
}

 
/* body.activeModal {
  overflow-y: hidden;
} */