body {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
  Colors
  Red: C54756
  dark red: 7E3F48
  Black: 1E1B1E
  light: E39DAA
  lightest: E7C9CB
  */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerTitle{
  width: 100%;
  height: auto;
  background-color: #C54756;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}
.headerTitle h1{
  padding-top: 5vh;
  padding-bottom: 5vh;
  font-size: 10vw;
  font-weight: bold;
  background-color: #C54756;
  color: #E7C9CB;
  margin: auto;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ffffff;
}

.headerNav {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}

.headerBtn {
    border: none;
    color: black;
    background-color: rgba(255, 255, 255, 0);
    padding: 2vh 4vw;
    margin-top: auto;
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.headerBtn:hover {
  background-color: #C54756;
  color: white;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.videoCont {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.vidGallery{
  display: block;
  margin-left: auto;
  margin-right: auto
}

.reactPlayer{
  position: absolute;
  top: 0;
  left: 0;
}
.vidInfo{
  text-align: center;
}
.slider{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
}
.slide{
  opacity: 0;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  transform: scale(1);
}

.slideActive{
  opacity: 1;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  padding-top: 1rem;
  width: 100%;
  padding-bottom: 1rem;
}

@media screen and (min-width: 600px){
  .slideActive{
    width: 50%;
  }

  .thumbnails{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
  }

  .videoImg img{
    object-fit: cover;
    max-width: 128px;
    width: 100%;
    height: 128px;
  }
}
@media screen and (max-width: 1000px){
  .slideActive{
    width: 100%;
  }
}
@media screen and (max-width: 600px){
  .videoImg img{
    height: 50px;
  }
}

.vidGallery{
  padding-top: 20px;
}
.vidGallery:nth-child(even){
  background-color: #C54756;
  color: #ffffff;
}

.videoImg img{
  width: 100%;
  object-fit: cover;
}

.thumbActive{
  transition-duration: 0.25s;
  opacity: 1.0;
  transition-timing-function: ease-out;
}

.thumb{
  opacity: 0.5;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
}

.thumb:hover{
  cursor: pointer;
  user-select: none;
  opacity: 0.75;
  transition-duration: 0.5s;
  transition-timing-function: ease-out
}

.overlay {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  cursor: pointer;
  display: block
}

.modalContent {
  z-index: 4;
  position: fixed;
  background: #f1f1f1;
  border-radius: 3px;
  max-width: 75vw;
  max-height: 75vh;
  transform: scale(1);
  transition: 1s;
  transition-timing-function: ease-out;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border-radius: 30px;
  padding: 20px;
  overflow-y: auto;
}

.modalContent:hover{
  transition: 0.5s;
  transition-timing-function: ease-out;
  transform: scale(1.025);
}

.closeModal{
  float: right;
  border: none;
  font-size: 16px;
  
}
.overlay {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modalContent a{
  text-decoration-line: none;
  font-size: 14px;
  color: #C54756;
}

.modalContent h1{
  font-size: 24px;
}

.modalContent h2{
  clear: left;
  float: left;
  margin: 0;
  margin-bottom: 1rem;
}

.musicCont{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.songItem{
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 0.1rem solid black;
}